# Copyright (c) 2015, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA

#
# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
# basic
max_connections = 1024

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0
log_queries_not_using_indexes = 0

# innodb
innodb_buffer_pool_size        = 2G # ~75% of all memory（DBサーバを分割する場合）
innodb_flush_method            = O_DIRECT # OSのディスクキャッシュと二重でメモリ確保しないようにする
innodb_flush_log_at_trx_commit = 2 # コミットの度にログを書き、1sごとにログをフラッシュする。クラッシュ時に最大1sのデータを失う可能性はあるがパフォーマンスが優先される

# Bynaly Log
log_bin = 0 # 冗長構成化が不要でバイナリログが不要な場合
# sync_binlog = 1000 # バイナリログが必要な場合はこれでI/O処理を軽減できる

# query cache (only mysql ~5.7)
query_cache_type  = 1
query_cache_limit = 1M
query_cache_size  = 16M
